@use "../../styles/base.scss" as *;

.wrapper {
  &__container {
    margin: 2rem 0 2rem 0;
    .header {
      height: 40px;
      color: #fff;
      font-size: 0.8rem;
      padding: 1rem 10px;
      // width: 50%;
      display: flex;
      align-items: center;
      font-weight: 400;
      p {
        // width: 100%;
      }
      // margin-bottom: 5px;
      // border-radius: 10px;
      // @media (max-width: 460px) {
      //   font-size: 16px;
      //   font-weight: 400;
      // }
    }
    .line {
      // position: absolute;
      width: 100%;
      height: 2px;
      background-color: #333333; /* Change color as needed */
      bottom: 0;
    }
    .lineGreen {
      // position: absolute;
      width: 100%;
      height: 2px;
      background-color: #379237; /* Change color as needed */
      bottom: 0;
    }
    .lineDark {
      // position: absolute;
      width: 100%;
      height: 2px;
      background-color: #333333; /* Change color as needed */
      bottom: 0;
    }
    .breaking {
      display: flex;
      // flex-wrap: wrap;
      margin-top: 2rem;
      gap: 20px;
      // justify-content: space-between;
      &__news {
        width: 100%;
        letter-spacing: 0.04em;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        &_category {
          font-size: 0.6rem;
          color: #379237;
          text-transform: uppercase;
          margin-top: 1.2rem;
        }
        &_timestamp {
          display: flex;
          align-items: center;
          gap: 0.6;
          // font-weight: 500;
          font-size: 11px;
          color: gray;
        }
        &_name {
          color: #333333;
          font-weight: 600;
          font-size: 1.1rem;
          overflow: hidden; /* Hide overflowing content */
          text-overflow: ellipsis; /* Display ellipsis for overflow text */
          display: -webkit-box;
          -webkit-line-clamp: 2; /* Limit number of lines to 3 */
          -webkit-box-orient: vertical;
          line-height: 22px;
          margin-bottom: 6px;
          width: 100%;
        }
        &_desc {
          margin-top: 6px;
          font-size: 0.8rem;
          overflow: hidden; /* Hide overflowing content */
          text-overflow: ellipsis; /* Display ellipsis for overflow text */
          display: -webkit-box;
          -webkit-line-clamp: 3; /* Limit number of lines to 3 */
          -webkit-box-orient: vertical;
          line-height: 16px;
          // margin-top: 15px;
          width: 100%;
        }
        &_trippleimage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.6); /* Darken the image */
          transition: filter 0.3s ease-in-out;
          box-shadow: $shadow-1;
        }
      }
      @media (max-width: 900px) {
        flex-wrap: wrap;
      }
    }
    .travel {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      gap: 20px;
      // justify-content: space-between;
      &__news {
        width: 100%;
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
        &_desc {
          margin-top: 10px;
          font-size: 1rem;
          overflow: hidden; /* Hide overflowing content */
          text-overflow: ellipsis; /* Display ellipsis for overflow text */
          display: -webkit-box;
          -webkit-line-clamp: 3; /* Limit number of lines to 3 */
          -webkit-box-orient: vertical;
          line-height: 18px;
        }
      }
      @media (max-width: 900px) {
        &__news {
          img {
            height: 200px;
          }
        }
      }
    }
    .continuation {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-auto-flow: column;
      gap: 20px;

      &__news {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;

        img {
          width: 100px;
          min-width: 100px;
          height: 60px;
          object-fit: cover;
        }

        &_category {
          text-transform: uppercase;
          font-size: 0.6rem;
          color: #379237;
        }

        &_name {
          font-size: 0.7rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-weight: 600;
          width: 90%;
          line-height: 13px;
        }
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        // padding: 0 5px;
        gap: 0;
        &__news {
          margin-bottom: 5px;
          &_name {
            // font-size: 0.5rem;
          }
        }
      }
    }
    .tripple {
      display: flex;
      // flex-wrap: wrap;
      margin-top: 2rem;
      gap: 20px;
      // justify-content: space-between;
      &__news {
        width: 100%;
        letter-spacing: 0.02em;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        &_category {
          font-size: 0.6rem;
          color: #379237;
          text-transform: uppercase;
          margin-top: 1.2rem;
        }
        &_timestamp {
          display: flex;
          align-items: center;
          gap: 0.6;
          font-weight: 500;
          font-size: 11px;
          color: #ccc;
        }
        &_name {
          color: #fff;
          font-weight: 600;
          font-size: 1.1rem;
          overflow: hidden; /* Hide overflowing content */
          text-overflow: ellipsis; /* Display ellipsis for overflow text */
          display: -webkit-box;
          -webkit-line-clamp: 2; /* Limit number of lines to 3 */
          -webkit-box-orient: vertical;
          line-height: 20px;
          margin-bottom: 6px;
          width: 90%;
        }
        &_desc {
          margin-top: 6px;
          font-size: 0.8rem;
          overflow: hidden; /* Hide overflowing content */
          text-overflow: ellipsis; /* Display ellipsis for overflow text */
          display: -webkit-box;
          -webkit-line-clamp: 3; /* Limit number of lines to 3 */
          -webkit-box-orient: vertical;
          line-height: 16px;
          // margin-top: 15px;
          width: 100%;
        }
        &_trippleimage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.4); /* Darken the image */
          transition: filter 0.3s ease-in-out;
          box-shadow: $shadow-1;
        }
      }
      @media (max-width: 900px) {
        flex-wrap: wrap;
      }
    }

    .popularCont {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-auto-flow: column;
      gap: 20px;

      &__news {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;

        img {
          width: 100px;
          min-width: 100px;
          height: 60px;
          object-fit: cover;
        }

        &_category {
          text-transform: uppercase;
          font-size: 0.6rem;
          color: #379237;
        }

        &_name {
          font-size: 0.8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: 600;
        }
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        // padding: 0 5px;
        gap: 0;
        &__news {
          margin-bottom: 5px;
        }
      }
    }
    .summaryCont {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      // grid-auto-flow: column;
      gap: 20px;
      width: 100%;

      &__news {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;

        img {
          min-width: 300px;
          width: 300px; // Set a fixed width for consistency
          height: 140px;
          // overflow: hidden; // Ensure image doesn't overflow its container
          // img {
          //   width: 100%; // Ensure image fills its container
          //   height: 100%;
          object-fit: cover; // Maintain aspect ratio
          // }
        }

        &_category {
          text-transform: uppercase;
          font-size: 0.7rem;
          color: #379237;
          font-weight: 600;
        }

        &_timestamp {
          display: flex;
          gap: 10px;
          font-size: 0.7rem;
        }

        &_name {
          font-size: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: 600;
        }
        &_desc {
          font-size: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: 500;
          margin-top: 10px;
          max-width: 600px;
          // display: none;
        }
      }

      @media (max-width: 900px) {
        &__news {
          // margin-bottom: 30px;
          img {
            min-width: 100px;
            width: 100px;
            height: 60px;
          }
          &_desc {
            display: none;
          }
          &_name {
            font-size: 0.7rem;
          }
          &_timestamp {
            font-size: 0.5rem;
          }
          &_timestamp_1 {
            display: none;
          }
        }
        //   grid-template-columns: repeat(1, 1fr);
        //   width: 100%;
        //   // padding: 0 5px;
        //   gap: 0;
      }
    }

    .summary {
      display: flex;
      // flex-wrap: wrap;
      margin-top: 2rem;
      gap: 20px;
      // justify-content: space-between;
      &__news {
        width: 100%;
        letter-spacing: 0.05em;
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
        &_category {
          font-size: 1rem;
          padding: 10px 20px;
          border-radius: 10px;
          color: white;
          background: #379237;
          text-transform: uppercase;
          margin-top: 1.2rem;
        }
        &_timestamp {
          display: flex;
          align-items: center;
          gap: 0.6;
          font-weight: 500;
          font-size: 13px;
        }
        &_name {
          font-weight: 800;
          font-size: 2rem;
          letter-spacing: 0.02em;
        }
        &_summaryImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.6); /* Darken the image */
          transition: filter 0.3s ease-in-out;
          box-shadow: $shadow-1;
        }
      }

      @media (max-width: 900px) {
        flex-wrap: wrap;
        &__news {
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
          &_name {
            font-weight: 600;
            font-size: 1rem;
            // letter-spacing: 0.02em;
          }
        }
      }
    }

    .category {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      &__news {
        // display: flex;
        // gap: 20px;
        // width: 100%;
        // align-items: center;

        &_category {
          text-transform: uppercase;
          font-size: 0.8rem;
          color: #000;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 50px;
        gap: 0;
        margin-top: 0;
      }
    }
  }
}

.breakingNewsContainer {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
  background: white;
  &__gridContainer {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(
      12,
      1fr
    ); /* 9 columns for wide item, 1 column for narrow item */
    gap: 20px; /* Adjust the gap between items as needed */

    &_gridItem {
      grid-column: span 3; /* Each narrow item takes 3 columns */
    }

    &_gridItemWide {
      grid-column: span 9; /* The wide item takes 9 columns */
    }
  }
  @media (max-width: 900px) {
    &__gridContainer {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 5px;
      gap: 0;
    }
  }
}

.popularNewsContainer {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
  background: white;
  &__gridContainer {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(
      12,
      1fr
    ); /* 9 columns for wide item, 1 column for narrow item */
    gap: 20px; /* Adjust the gap between items as needed */

    // &_gridItem {
    //   grid-column: span 3; /* Each narrow item takes 3 columns */
    // }

    &_gridItemWide {
      grid-column: span 12; /* The wide item takes 9 columns */
    }
  }
  @media (max-width: 900px) {
    &__gridContainer {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 5px;
      gap: 0;
    }
  }
}

.summaryNewsContainer {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
  background: white;
  &__gridContainer {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(
      12,
      1fr
    ); /* 9 columns for wide item, 1 column for narrow item */
    gap: 20px; /* Adjust the gap between items as needed */

    &_gridItem {
      grid-column: span 3; /* Each narrow item takes 3 columns */
    }

    &_gridItemWide {
      grid-column: span 9; /* The wide item takes 9 columns */
    }
  }
  @media (max-width: 900px) {
    &__gridContainer {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 5px;
      gap: 0;
    }
  }
}

@media (max-width: 900px) {
  .entertainmentHeader {
    display: none;
  }
}
