@use "../../styles/base.scss" as *;

.countdown {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 5px;
  span {
    background: $orange-red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 27px;
  }
  b {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
